.custom-shape-divider-top-1687346159 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1687346159 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
}

.custom-shape-divider-top-1687346159 .shape-fill {
    fill: #E01082;
}
.custom-shape-divider-bottom-1687344871 {
    /* position: absolute; */
    width: 100%;
    overflow: hidden;
    line-height: 10;
    z-index: 600;
}

.custom-shape-divider-bottom-1687344871 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 137px;
}

.custom-shape-divider-bottom-1687344871 .shape-fill {
    fill: #E01082;
}