.video-container {
  width: 100%;
  height: auto;
  /* position: relative; */
}

.video-inner {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.video-content--container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  align-items: center;
  justify-content: center;
}

.video-content--text {
  font-size: 50px;
  color: white;
  font-weight: bold;
  width: 90%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  text-align: center;
}

.video-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.video-content--text span {
  display: inline-block;
  font-family: "Titan";
  font-size: 10vw;
  font-weight: 400;
  color: #ffffff;
  letter-spacing: 2vw;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
  position: relative;
  transform: translateY(-100vh);
  animation: fall 3.5s forwards;
}

@keyframes fall {
  100% {
    transform: translateY(0);
  }
}

.video-content--text span:nth-child(1) {
  animation-delay: 1.3s;
}
.video-content--text span:nth-child(2) {
  animation-delay: 1.7s;
}
.video-content--text span:nth-child(3) {
  animation-delay: 2.1s;
}
.video-content--text span:nth-child(4) {
  animation-delay: 2.4s;
}
.video-content--text span:nth-child(5) {
  animation-delay: 2.8s;
}
.video-content--text span:nth-child(6) {
  animation-delay: 3.2s;
}
.video-content--text span:nth-child(7) {
  animation-delay: 3.6s;
}

@media screen and (width: 375px) {
  .video-content--text span {
    display: inline-block;
    font-family: "Titan";
    font-size: 10vw;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 2vw;
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 3px 1px #919191, 1px 4px 1px #919191,
      1px 3px 1px #919191, 1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 5px 1px #919191, 1px 5px 6px rgba(16, 16, 16, 0.4),
      1px 5px 10px rgba(16, 16, 16, 0.2), 1px 5px 6px rgba(16, 16, 16, 0.2),
      1px 6px 20px rgba(16, 16, 16, 0.4);
    position: relative;
    transform: translateY(-100vh);
    animation: fall 3.5s forwards;
  }
}
